:root {
  background-color: black;
  color: white;
}
:root {
  --clr1: #1e40af;
  --clr2: #3858c0;
}
.model-fullscreen iframe {
  width: 1067px;
  height: 789px;
  border: none;
  user-select: none;
}
.mp3player {
  position: fixed;
  bottom: 0;
  left: 0;
}
.mp3-preview {
  display: flex;
  flex-direction: row;
  padding: 6px;
  gap: 2px;
  height: 40px;
  background-color: black;
  color: var(--clr2);
  font-family: monospace;
  font-size: 14px;
  line-height: 1;
  font-weight: 1000;
  text-overflow: ellipsis;
}
.info {
  width: 100%;
  display: flex;
  height: min-content;
  flex-direction: column;
}
.bars {
  display: flex;
  align-items: flex-end;
  gap: 4px;
  padding: 0;
}

.bar {
  width: 5px;
  background: var(--clr2);
  transition: height 0.2s linear;
}
.controller {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
}

.icon {
  color: black;
}
.win98-button {
  background: #c0c0c0;
  border: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 4px 6px; /* minimal padding */
  font-size: 11px; /* smaller text */
  line-height: 1;
  color: black;
  font-family: "MS Sans Serif", Arial, sans-serif;
  cursor: pointer;
  position: relative;
  box-shadow: inset -1px -1px 0 #000000, inset 1px 1px 0 #ffffff,
    inset -2px -2px 0 #808080, inset 2px 2px 0 #dfdfdf;
  min-width: auto;
  min-height: auto;
}

.col {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
.nodisplay {
  display: none;
}
